.Si input{
    padding: 3%;
    width: 80%;
    border-radius: 5px;
    border: 2px solid rgba(216, 216, 216, 0.959);
    font-size: 00.94rem;
    outline: none;
    color: rgb(19, 19, 19);
    font-weight: 640;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.Si .heder{
    position: relative;
    top:-5%;
   width: 100%;
}

.Si .heder p{
    margin-bottom: 1%;
    color: rgb(170, 168, 168);
}



.Si{
    position:absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    top:0%;
    animation-name: SiAnim;
    animation-duration: 450ms;
    animation-timing-function: ease-in-out;
}


@keyframes SiAnim{
    0%{
        transform: scale(0);
    }
    100%{        
        transform: scale(1);
    }
}





.Si button{
    position: relative;
    transition: all 300ms ease-in-out;
    border:none;
    outline: none;
    font-size: 0.97rem;
    width: 80%;
    border-radius: 4px;
    background: rgb(10, 10, 10);
    color: #fff;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top:3% ;
    padding-bottom: 3%;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 2px;
    animation-name: SIBtnANim;
    animation-duration: 200ms;
}

@keyframes SIBtnANim {
    0%{
        transform: scale(0);
    }100%{
        transform: scale(1);
    }
    
}
.Si button:active{
    transform: scale(1.02);
    box-shadow: 6px 6px 10px 5px rgba(30, 36, 51, 0.39);
}




.AlreadyHave{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 0.95rem;
    color: rgb(44, 44, 44);
    
}



.Si span{
    text-decoration: none;
    color: rgb(0, 0, 0) !important;
    font-weight: 600;
}


.wring{
    position: absolute;
    margin: 0%;
    border: none;
    font-size: 1em;
    text-align: center;
    width: 100%;
    top:-2%;
    background: rgb(255, 60, 0);
    height: 40px;
    display: flex;
    align-items:center;
    justify-content: center;
    color: #fff;
    transition: all 450ms ease-in-out;
}

.wringFalse{
    position: absolute;
    margin: 0%;
    border: none;
    font-size: 1em;
    text-align: center;
    width: 100%;
    top:-50%;
    background: rgb(255, 60, 0);
    height: 40px;
    display: flex;
    align-items:center;
    justify-content: center;
    color: #fff;
    transition: all 450ms ease-in-out;  
}


@media (min-width:150px) and (max-width:550px){ 
    .Si input{
        position: relative;
        border:none;
        width: 80%;
        padding-left: 5%;
        padding-right: 5%;
        border-radius: 7px;
        padding-top: 3%;
        padding-bottom: 4%;
        text-align: left;
        font-size: 1.120rem;
        top:-8%;
        
    }
    .AlreadyHave{
        position:absolute;
        bottom: 1%;
        color: rgba(44, 44, 44, 0.507);
        
        
        
    }

    .wring{
     width: 100vw;  
     height: 5.7%; 
     top:0%;
    }


    .Athu{
        width: 90% !important;
        overflow: visible !important;

    }


    .Si button{
        margin-bottom:10%;
        width: 95%;
        border-radius: 50px;
        height: 7%;
    }
    .Si span{
        color: rgba(37, 38, 41, 0.541);
    }
}
