.feedTextH1{
    color: rgb(49, 49, 49);
    max-width: 99%;
    text-align: left;
    margin-left: 2%;
    font-size: 1rem;
    color: rgb(56, 55, 55);
}

.feedTextH1::first-letter{
    color: rgb(8, 8, 8);
    font-size: 2rem;
}

 
