.USER{
    position:absolute;
    width: 100%;
    height: max-content;
    top:0%;
    left: 0%;
    background: #ffff;
}

.MenuUSER{
  position:absolute;
  right:7%;
  top:35%;
  width: 2rem;
  border: none;
  outline: none;
  background:transparent;
}

.MenuUSER > img {
  width: 2.6em;
}



.closeBtnOPENUSER{
  position:fixed;
  background:rgb(161, 161, 161);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 1rem;
  height:1rem;
  color: #fff;
  left: 2%;
  padding: 5.5%;
  top:1.9%;
  z-index: 10000000000;
  border: none;
}




input,
textarea,
button,
select,
img,
video,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
  outline: none;
}




@media (min-width:245px) and (max-width:600px){
    
  .USERHeder{
    position: relative;
    width: 88%;
    left:0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top:90px;
    

  }





  .USERHeder .follower >h1{
    margin: 0%;
    font-weight: 900;
  }

  .USERHeder .follower >p{
    margin: 0%;
    color: rgba(0, 0, 0, 0.411);
  }
  .USERHeder .following >h1{
    margin: 0%;
    font-weight: 900;
  }

  .USERHeder .following >p{
    margin: 0%;
    color: rgba(0, 0, 0, 0.411);
    
  }

  .USERHeder .prfilePhoto{
    position: relative;
    height: auto;
    top:20px;
    border-radius: 25px;
    width: 8rem;
    height: 9rem;
    background-size:cover;
    background-repeat: no-repeat;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(95, 36, 85, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

  }



  .UserINFO{
    width: 100%;
    position:relative;
    top:105px;
    text-align: center;
  }
  .UserINFO > h3{
    position: relative;
    left:0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.6rem;
    max-width: 75%;
    width: 100%;
    font-weight: 800;
    filter:drop-shadow(10px 5px 10px rgba(0, 0, 0, 0.158));
  }
    

  .UserINFO .bio{
    position: relative;
    margin-top: 5px;
    top:-20px;
    color: rgba(77, 77, 77, 0.459);
    font-weight: 550;
  }

  .UserINFO .location{
      margin-top: 5px;
      top:-26px;
      color: #4d4d4d75;
      font-size: 0.9rem;
      font-weight: 800;
      position: relative;
      left:0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      max-width: 65%;
  }

  .loactionIcon{
    position: relative;
    top:2.2px;
    margin-right: 2%;
    width: 1rem;
  }


  .UserAction{
    position: relative;
    top:90px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    padding-bottom: 5.5%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.068);

  }

  .UserAction > button{
    padding: 4%;
    width: 40%;
    border-radius: 15px;
    outline: none;
    border:none;
  }

  .UserAction .FollowBtn{
    background:rgb(14, 124, 233);
    color: #ffff;
    font-size: 1rem;
    font-weight: 450;
    letter-spacing: 2px;
  }
  .UserAction .FollowBtn:active{
    filter:drop-shadow(10px 5px 10px rgba(9, 77, 165, 0.158));
  }
  .UserAction .MessageBtn{
    font-weight: 450;
    letter-spacing: 2px;
    background:rgb(255, 255, 255);
    border: 1px solid rgba(102, 102, 102, 0.192);
  }

  .UserPostTypes{
    position: relative;
    width: 100%;
    top:90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(102, 102, 102, 0.068);
    padding-bottom: 2%;
  }

  .UserPostTypes >button {
    width: 2.3rem;
    border: none;
    outline: none;
    background:transparent;
    padding-top: 2%;
  }


  .UserPosts{
    position: relative;
    width: 100%;
    margin-top: 26%;
    height: auto;
    overflow: scroll;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 14px;

  }

  .UserPosts > img{
    width: 93%;
    height: auto;
    border-radius: 17px;
    margin-left: 3%;
    margin-right: 3%;
  }


}



@media (prefers-color-scheme:dark){
  .USERHeder .follower >h1{
    color: whitesmoke;
  }
  .USERHeder .follower >p{
    color: rgba(245, 245, 245, 0.678);
  }
  .USERHeder .following >p{
    color: rgba(245, 245, 245, 0.678);
  }
  .USERHeder .following >h1{
    color: whitesmoke;
  }
  .UserINFO .location{
    color: rgba(245, 245, 245, 0.678);
  }

  .UserINFO .bio{
    color: rgba(245, 245, 245, 0.842);
  }

  .UserINFO > h3{
    color: rgba(255, 255, 255, 0.925);
  }
  

  .USER{
    background: rgb(32, 32, 32);
  }
}




@media (min-width:500px) and (max-width:600px){ 




}



@media (min-width:600px) and (max-width:995px){ 





}








