.feedCard{
    transition: all 325ms ease-in-out;
    position: relative;
    top: 330px;
    height:max-content;
    width: 56%;
    left:0;
    right: 0;
    margin: auto;
    border-radius: 10px;
    background: #fff;
    padding-bottom: 6%;
    min-height: 150px;
    z-index: 10000000;
    padding-top: 1.7%;
    margin-top: 1%;
    border-radius: 20px;
    transform: scale(0.95)
}


.feedCard:active{
    transform: scale(0.8);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}





.feedCardH{
    visibility: collapse;
}




@media (min-width:370px) and (max-width:995px){ 

    .feedCard{
        width: 95%;
        padding-bottom: 15%;
    
    }
    

}

@media (min-width:220px) and (max-width:360px){ 

    .feedCard{
        width: 100%;
        padding-bottom: 10%;
        /* display: none; */
    
    }

}