.navBottom{
    position:fixed;
    bottom: 0%;
    height: 8.5%;
    background: rgba(255, 255, 255, 0.815);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    z-index: 10000000000;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-top: 1px solid #9c9a9a21;
    border-left: 1px solid #9c9a9a21;
    border-right: 1px solid #9c9a9a21;
    backdrop-filter: blur(4px);
    overflow: visible !important;
}

@media (prefers-color-scheme:dark){
    .navBottom{
        background: rgb(32, 32, 32);
    }
  }
  

.navBottom div{
    transition: all 125ms ease-in-out;
    /* background: rgba(255, 255, 255, 0.726); */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.navBottom div img{
    transition:100ms all ease-in-out;
}

.navBottom div img:active{
    transform: scale(0.9);
}



.navBottom .navBottomUser{
    width: 2rem;
    border-radius: 50%;
    height: 2rem;
}





.navBottom .navBottomUser{
    user-select: none;
}