.FeedVi{
    transition: all 500ms ease-in-out;
    position: relative;
    max-width:100%;
    min-width: 60%;
    border-radius: 5px;
    left:0;
    top:0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.FeedViExapnd{
    transition: all 500ms ease-in-out;
    position: relative;
    max-width:80%;
    min-width: 60%;
    border-radius: 5px;
    left:0;
    top:0;
    right: 0;
    bottom: 0;
    margin: auto;
}



.vicontent{
    position: relative;
    cursor: pointer;
}
.vicontent .play{
    position:absolute;
  bottom: 0;
  left:0;
  right: 0;
  top:0;
  margin: auto;
  width: 5rem;
}

.vicontent .full{
    position:absolute;
    margin-left: 10%;
    left:0%;
    margin-top: 6%;
}

.vicontent .expand{
    transition: all 390ms ease-in-out;
    position:absolute;
    right:9%;
    margin-top: 6%;
    margin-right: 2%;
    color: #ffffff94;
}

.vicontent .expandYes{
    transition: all 390ms ease-in-out;
    position:absolute;
    right:5%;
    margin-top: 6%;
    margin-right: 2%;
    color: #ffffff94;
}