.addObj{
    position:relative;
    top:90px;
    width: 100%;
}

.App{
    overflow: hidden !important;
}

.ADDContect{
    position:absolute;
    height: 100%;
    width: 100vw;
    overflow: hidden;
}

.addTo{
    position: relative;
    transition: all 400ms ease-in-out;
    top:-7px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 95px;
    padding-top: 1%;
    padding-bottom: 13%;
    animation-name: openTo;
    animation-duration: 450ms;
    background: rgb(255, 255, 255);
}


  
@media (prefers-color-scheme:dark){
  .addTo{
    background: rgb(32, 32, 32);
  }
}


@keyframes openTo{
    0%{
        top:-550px;
    }
    100%{
        top:-7px;
    }
}




.addTo button{
    transition: all 150ms ease-in-out;
    width:100%;
    background: transparent;
    padding-top: 1%;
    padding-bottom: 1%;
    cursor: pointer;
    font-size: 1.2rem;
    color: rgb(65, 64, 64);
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.addTo button > img{
    width: 1.5rem;
}


.inputs{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    flex-direction: column;
    margin-top: 0%;

} 


.inputs input{
    margin-top: 5%;

} 







@media (min-width:370px) and (max-width:995px){ 

    .addTo button{
        width: 100%;
    }
}