.feedby{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.055);

}


.feedby .userIMg{
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    margin: 0%;
    margin-left: 2%;
}

.feedby .userName{
    margin-left: 4%;
}


.date{
    position: relative;
    text-align: left;
    left:2%;
    color: rgb(187, 187, 187);
}