.FeedAction{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0%;
}


.FeedAction button{
    transition: all 90ms ease-in-out;
    border: none;
    outline: none;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    background: #fff;
}


.FeedAction button:active{
    transform: scale(1.2);
}



.FeedAction .cunt{
    width: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



.FeedAction .cunt p{
    cursor: pointer;
    padding: 6%;
    border-radius: 50%;
    background: rgb(255, 254, 254);
    width: 1rem;
    height: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:center;

}



@media (min-width:300px) and (max-width:400px){ 

    .FeedAction{
        bottom: -1%;
    }


}